.hero-section{
    background-image: url(.../../../../../../assets/images/hero.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 600px);
    top: 0;
    position: relative;
}
.hero-section::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(55,65,81,0.75);
}
.hero-section .container{
    position: relative;
    z-index: 1;
}
.hero-title{
    position: relative;
    top: 100px;
}
.map-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-left{
    position: relative;
    top: -50px
}
.card-right{
    position: relative;
    top: -50px
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    height: 50px
}
.cta{
    padding: 15px, 20px !important;
    font-size: 16px;
    font-weight: 600;
    width: auto;
}
.cta.send{
    background-color: var(--primary-color);
    color: var(--white-color);
}