
   
        <!-- <div class="col-lg-4 col-md-12">
            <div class="bg-white rounded-2 p-3">
                <h5 class="pb-2 border-bottom left-title">
                    Motif du rejet
                </h5>
                <div class="bg-secondary-subtle p-2 rounded-2">
                    <p class="small">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.</p>
                </div>
                
            </div>
        </div> -->
       
            <div class="row g-3 align-items-start justify-content-center">
                <div class="col-12">
                     <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      <h6 class="left-title">Informations du demandeur</h6>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row g-4">
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">Prénom</h6>
                                    <span class="accordion-subtitle">Boubacar</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">Nom</h6>
                                    <span class="accordion-subtitle">Baldé</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">Telephone</h6>
                                    <span class=" accordion-subtitle">+221 78 000 00 00</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">CNI/Passeport</h6>
                                    <span class="accordion-subtitle">13234567</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">Email</h6>
                                    <span class="accordion-subtitle">geraldkeita@gmail.com</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">Adresse</h6>
                                    <span class="accordion-subtitle">Triangle, Dakar</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">Région</h6>
                                    <span class="accordion-subtitle">Dakar</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-block">
                                    <h6 class="text-muted accordion-title">Département</h6>
                                    <span class="accordion-subtitle">Dakar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                </div>
                <!-- Deuxieme accordion -->
                <div class="col-12">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <h6 class="left-title">Informations de la demande</h6>
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- troisieme accordion -->
                 <div class="col-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h6 class="left-title">Informations de la propriété </h6>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse hidden" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                 </div>
                 <!-- Quatrieme accordion -->
                 <div class="col-12">
                    <div class="accordion" id="accordionfour">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseexemple" aria-expanded="true" aria-controls="collapseexemple">
                              <h6 class="left-title">Informations de la propriété </h6>
                            </button>
                          </h2>
                          <div id="collapseexemple" class="accordion-collapse collapse hidden" data-bs-parent="#accordionfour">
                            <div class="accordion-body">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                 </div>
            </div>
     
  