.left-title{
    color: var(--text-color);
    font-weight: 700;
}
.small{
    font-size: 14px;
    color: var(--placeholder-color);
}
.accordion-title{
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}
.accordion-subtitle{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}