<div class="fullpage"></div>
<div class="log-container">
  <div class="row g-0 h-100">
    <!-- Left side with branding -->
    <div class="col-lg-6 log-left d-none d-lg-block">
      <div class="log-left-content">
        <div class="log-brand">
          <h1 class="log-title">Cadastre du Sénégal</h1>
          <p class="log-subtitle">Plateforme de gestion des services publics destinés à la réclamation foncière</p>
        </div>
      </div>
    </div>

    <!-- Right side with content -->
    <div class="col-lg-6 col-12 log-right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>