
    <div class="hero">
        <div class="container h-100 d-flex align-items-center">
            <div class="hero-content d-block d-lg-flex flex-column gap-3 text-white">
                <h1 class="hero-title fw-bold m-0">Résoudre vos problèmes fonciers</h1>
                <p class="hero-text m-0">Soumettez, suivez et recevez des réponses à vos réclamations liées aux fonciers, litiges et erreurs d'enregistrement en toute transparence.</p>
                <div class="d-flex flex-column flex-md-row gap-3 pt-2">
                    <a class="btn cta depose w-100 w-md-auto" [routerLink]="'/frontoffice/depose'">Déposer une réclamation</a>
                    <a class="btn cta suivi w-100 w-md-auto" [routerLink]="'/frontoffice/suivi'">Suivre ma demande</a>
                </div>
            </div>
        </div>
    </div>

<section class="services py-5">
    <div class="container">
        <div class="services-header d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-between gap-3">
            <div class="pe-lg-5">
                <h3 class="fw-bold mb-1">Nos services de réclamations</h3>
                <p class="text-muted subtle-title mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
            </div>
            <button class="btn cta service align-self-lg-start">Tous les services<i class="bi bi-arrow-right ps-2"></i></button>
        </div>

        <div class="row g-3  mt-4 justify-content-start align-items-start">
            <div class="col-md-6 col-lg-4">
                <div class="row g-2">
                    <!-- Premier article -->
                    <div class="col-12">
                        <article class="service-card d-flex gap-3 align-items-center">
                            <span class="">
                                <i class="bi bi-file-earmark-text service-icon file"></i>
                            </span>
                            <div>
                                <h5 class="service-title mb-1">Litiges de propriété</h5>
                                <p class="service-description mb-0">Demandez ou régularisez votre titre foncier</p>
                            </div>
                        </article> 
                    </div>
                    <!-- Deuxieme article -->
                    <div class="col-12">
                        <article class="service-card d-flex gap-3 align-items-center">
                            <span class="">
                                <i class="bi bi-diagram-2 service-icon diagram"></i>
                            </span>
                            <div>
                                <h5 class="service-title mb-1">Litiges limites</h5>
                                <p class="service-description mb-0">Contestez les limites ou droits fonciers.</p>
                            </div>
                        </article> 
                    </div>
                    <!-- troisieme article -->
                    <div class="col-12">
                        <article class="service-card d-flex gap-3 align-items-center">
                            <span class="">
                                <i class="bi bi-house-door service-icon door"></i>
                            </span>
                            <div>
                                <h5 class="service-title mb-1">Régularisation</h5>
                                <p class="service-description mb-0">Régularisez votre situation foncière et </p>
                                <p class="service-description mb-0">sécurisez votre propriété</p>
                            </div>
                        </article> 
                    </div>
                </div>
               
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="row g-2">
                    <!-- Premier article -->
                    <div class="col-12">
                        <article class="service-card d-flex gap-3 align-items-center">
                            <span class="">
                                <i class="bi bi-search service-icon search"></i>
                            </span>
                            <div>
                                <h5 class="service-title mb-1">Suivi de dossier</h5>
                                <p class="service-description mb-0">Suivez l’avancement de votre réclamation 
                                    en temps réel.</p>
                            </div>
                        </article> 
                    </div>
                    <!-- Deuxieme article -->
                    <div class="col-12">
                        <article class="service-card d-flex gap-3 align-items-center">
                            <span class="">
                                <i class="bi bi-map service-icon map"></i>
                            </span>
                            <div>
                                <h5 class="service-title mb-1">Occupation illégale ou squattage</h5>
                                <p class="service-description mb-0">Consultez les infos cadastrales et plans de votre propriété.</p>
                            </div>
                        </article> 
                    </div>
                    <!-- troisieme article -->
                    <div class="col-12">
                        <article class="service-card d-flex gap-3 align-items-center">
                            <span class="">
                                <i class="bi bi-file-check service-icon file-check"></i>
                            </span>
                            <div>
                                <h5 class="service-title mb-1">Litiges successoraux</h5>
                                <p class="service-description mb-0">Obtenez des certificats officiels pour vos démarches. </p>
                                <!-- <p class="service-description mb-0">sécurisez votre propriété</p> -->
                            </div>
                        </article> 
                    </div>
                </div>
               
            </div>
            <div class="col-md-6 col-lg-4 image-container">
                <img src="assets/images/imageleft.svg" class="w-100 h-100" alt="image de droite">
                <div class="d-flex flex-row align-items-start makeupper gap-2 bg-white rounded-2">
                    <span><i class="bi bi-check2 service-icon checked"></i></span>
                    <div class="d-flex flex-column align-items-start">
                        <h6 class="fw-bold text-muted">+500</h6>
                        <p class="small lh-1">Réclamations traités</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container">
        <div class="solve-claim  mx-3 rounded-4 py-5">
            <div class="row align-items-center justify-content-center px-4 g-2">
                <div class="col-12 col-lg-6">
                    <div class="d-block d-md-flex flex-column gap-2">
                       <h4 class="fw-bold">Prêt à résoudre vos problèmes fonciers </h4> 
                        <p class="small">Rejoignez des milliers de citoyens qui ont déjà sécurisé leurs droits fonciers 
                            grâce à notre plateforme numérique.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 pt-2 w-100">
                        <a class="btn cta depose2 w-100 w-md-auto" [routerLink]="'/frontoffice/depose'">Déposer une réclamation</a>
                        <a class="btn cta suivi2 w-100 w-md-auto" [routerLink]="'/frontoffice/suivi'">Suivre ma demande</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-4 bg-white">
    <div class="container">
        <div class="d-flex flex-column justify-content-start">
            <span class="processus"></span>
            <h3 class="fw-bold">Comment ça marche </h3> 
            <p class="w-lg-50 w-auto text-muted small">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
        </div>
        <div class="row align-items-center justify-content-center g-3 pt-3">
            <div class="col-lg-3 col-12 col-md-6">
                <div class="card px-3 h-100">
                    <div class="card-header border-0">
                        <span class="number one">1</span>
                    </div>
                    <h5 class="card-title card-one py-2">Créer votre compte</h5>
                    <p class="step-one p-2">Inscrivez-vous gratuitement sur notre plateforme en fournissant vos informations personnelles.</p>
                </div>
            </div>
            <!-- Deuxieme carte -->
            <div class="col-lg-3 col-12 col-md-6">
                <div class="card px-3 h-100">
                    <div class="card-header border-0">
                        <span class="number two">2</span>
                    </div>
                    <h5 class="card-title card-one py-2">Soumettez votre demande</h5>
                    <p class="step-one p-2">Remplissez le formulaire de réclamation en ligne et joignez les documents nécessaires.</p>
                </div>
            </div>
            <!-- troisieme carte -->
            <div class="col-lg-3 col-12 col-md-6">
                <div class="card px-3 h-100">
                    <div class="card-header border-0">
                        <span class="number three">3</span>
                    </div>
                    <h5 class="card-title card-one py-2">Suivez votre dossier</h5>
                    <p class="step-one p-2">Consultez l'état d'avancement de votre réclamation  sur votre espace personnel.</p>
                </div>
            </div>
            <!-- Quatrieme carte -->
            <div class="col-lg-3 col-12 col-md-6">
                <div class="card px-3 h-100">
                    <div class="card-header border-0">
                        <span class="number four">4</span>
                    </div>
                    <h5 class="card-title card-one py-2">Recevez votre réponse</h5>
                    <p class="step-one p-2">Obtenez une réponse officielle et les documents relatifs à 
                        votre demande.</p>
                </div>
            </div>
            <div class="text-center my-4 py-4">
                <a class="btn cta depose w-100 w-md-auto" [routerLink]="'/frontoffice/depose'">Déposer une réclamation</a>
            </div>
        </div> 
    </div>
   
    
</section>


