<div class="footer py-4 text-white">
    <div class="container">
        <div class="text-center py-2">
            <h5 class="fw-semibold">Pour plus de réclamations veuillez consulter notre guichet unique</h5>
            <p class="small">Notre équipe reste disponible pour vous accompagner dans vos démarches.</p>
            <button class="btn cta px-3 py-2 w-100 w-md-auto w-lg-auto">Aller vers le guichet unique</button>
        </div>
        <div class="row align-items-start links justify-content-center py-5 px-3 g-3 rounded-2 mt-lg-5 my-4">
            <div class="col-lg-3 col-6">
                <h6>Cadastre Sénégal</h6>
                <a href="javascript:(0)" class="small">Plateforme officielle de gestion des </a>
                <a href="javascript:(0)" class="small">réclamations foncières au Sénégal. </a>
                <a href="javascript:(0)" class="small">Simplifiez vos démarches </a>
                <a href="javascript:(0)" class="small">administratives liées aux titres </a>
                <a href="javascript:(0)" class="small">fonciers </a>
    
            </div>
    
            <div class="col-lg-3 col-6">
                <div class="d-flex flex-column gap-2">
                    <h6>Liens rapides</h6>
                    <a href="javascript:(0)" class="small">Accueil</a>
                    <a href="javascript:(0)" class="small">Services</a>
                    <a href="javascript:(0)" class="small">Comment ça marche</a>
                    <a href="javascript:(0)" class="small">Contact </a> 
                </div>
              
                <!-- <a href="javascript:(0)" class="small">fonciers </a> -->
    
            </div>
            <div class="col-lg-3 col-6">
                <div class="d-flex flex-column gap-2">
                    <h6>Services</h6>
                    <a href="javascript:(0)" class="small">Réclamation de titre</a>
                    <a href="javascript:(0)" class="small">Suivi de dossier</a>
                    <a href="javascript:(0)" class="small">Litiges fonciers </a>
                    <a href="javascript:(0)" class="small">Régularisation</a>
                </div>
                
    
            </div>
            <div class="col-lg-3 col-6">
                <div class="d-flex flex-column gap-2">
                    <h6>Contact</h6>
                    <a href="javascript:(0)" class="small"> <i class="bi bi-geo-alt px-1"></i> 123 Avenue Cheikh Anta Diop, Dakar, Sénégal</a>
                    <a href="javascript:(0)" class="small"> <i class="bi bi-telephone px-1"></i> +221 33 123 45 67</a>
                    <a href="javascript:(0)" class="small"> <i class="bi bi-envelope px-1"></i> contact@cadastre-senegal.sn</a>
                </div>
                
            </div>
        </div>
        <div class="my-4 d-flex align-items-center justify-content-between">
            <p class="small">copy &copy; 2025 Gainde2000 | Tous droits réservés</p>
            <div class="d-flex  gap-2 flex-row align-items-center justify-content-center">
                <a href="javascript:(0)"><i class="bi bi-facebook social-media"></i></a>
                <a href="javascript:(0)"><i class="bi bi-linkedin social-media"></i></a>
                <a href="javascript:(0)"><i class="bi bi-twitter-x social-media"></i></a>
                <a href="javascript:(0)"><i class="bi bi-instagram social-media"></i></a>

            </div>
        </div>
    </div>
</div>
