.footer{
    background-color: var(--footer-color);
}
.cta{
font-size: 14px;
color: var(--white-color);
border-radius: 100px;
background-color: var(--primary-color);
&:hover{
    background-color: #028d3e;
    color: var(--white-color);
}
}
a{
    text-decoration: none;
    font-size: 12px;
    color: var(--white-color);
}
.links{
    background-color: rgba(255,255,255,0.11);
}
.social-media{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform .3s ease-out, background-color .3s ease-out, color .3s ease-out;
    &:hover{
        background-color: var(--white-color);
        color: var(--text-color);
        transform: translateY(-1px);
    }
}

@media (min-width: 992px){
    .w-lg-auto{
        width: auto !important;
    }
}

@media (min-width: 768px){
    .w-md-auto{
        width: auto !important;
    }
}