<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
            <div class="d-flex flex-column">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Etape d'imputation</h1>
                <span class="small">Etape 2/4</span>  
            </div>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body border-0">
            <div class="row g-3">
                <div class="col-12">
                    <label for="bureau" class="form-label text-black required">Bureau pour avis & observation</label>
                    <div class="d-flex flex-wrap gap-2 mb-3 p-3 bureau-content">
                        <div *ngIf="showDgidTag" class="tag-item d-flex align-items-center gap-2 px-3 py-2 bg-white rounded-2">
                            <span class="text-uppercase">DGID</span>
                            <button type="button" class="tag-close-btn border-0 p-0 d-flex align-items-center justify-content-center" (click)="removeTag('DGID')" aria-label="Supprimer DGID">
                                <i class="bi bi-x"></i>
                            </button>
                        </div>
                        <div *ngIf="showDgidTag" class="tag-item d-flex align-items-center gap-2 px-3 py-2 bg-white rounded-2">
                            <span class="text-uppercase">desgcos</span>
                            <button type="button" class="tag-close-btn border-0 p-0 d-flex align-items-center justify-content-center" (click)="removeTag('DGID')" aria-label="Supprimer DGID">
                                <i class="bi bi-x"></i>
                            </button>
                        </div>
                       <button class="btn"><i class="bi bi-plus">Ajouter un bureau</i></button>
                    </div>
                </div>
                <div class="col-12">
                    <label for="bureau" class="form-label text-black required">Bureau consultatif</label>
                    <div class="d-flex flex-wrap gap-2 mb-3 p-3 bureau-content">
                        <div *ngIf="showDgidTag" class="tag-item d-flex align-items-center gap-2 px-3 py-2 bg-white rounded-2">
                            <span class="text-uppercase">Présidence</span>
                            <button type="button" class="tag-close-btn border-0 p-0 d-flex align-items-center justify-content-center" (click)="removeTag('DGID')" aria-label="Supprimer DGID">
                                <i class="bi bi-x"></i>
                            </button>
                        </div>
                        <button class="btn"><i class="bi bi-plus">Ajouter un bureau</i></button>
                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="row align-items-center justify-content-start g-3">
                        <div class="col-12 col-lg-6">
                            <label for="delai" class="form-label required">Délai (en jours)</label>
                            <input type="date" class="form-control" placeholder="jj/mm/aaaa">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label class="form-label required">Procédure d'urgence</label>
                            <div class="d-flex gap-4 mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="procedureUrgence" id="procedureOui" value="oui" [(ngModel)]="procedureUrgence">
                                    <label class="form-check-label" for="procedureOui">
                                        Oui
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="procedureUrgence" id="procedureNon" value="non" [(ngModel)]="procedureUrgence">
                                    <label class="form-check-label" for="procedureNon">
                                        Non
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="commentaire" class="form-label text-black">Commentaire</label>
                    <textarea class="form-control" placeholder="Saisir un commentaire" id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn cta cancel" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn cta send" (click)="SendData()">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
