/* You can add global styles to this file, and also import other style files */
// Import des styles de base Material sans thème personnalisé
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// Import des styles SweetAlert2
@import 'sweetalert2/src/sweetalert2.scss';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color:#0A9748;
    --secondary-color:#F67366;
    --tertiary-color:#2563B8;
    --text-color:#374151;
    --placeholder:#9CA3AF;
    --white-color:#ffffff;
    --bg-color:#EDF1F7;
    --yellow-color:#F9C20A;
    --info-color:#009EE0;
    --footer-color:#1F2937;
    --accordion-header-color: #425166;

}

body{
    background-color: var(--bg-color) !important;
    font-family: 'Archivo', Arial, Helvetica, sans-serif !important;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
